name: TDD Book CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Create .env file
        run: |
          echo "CONTAINER_NAME=${{ secrets.CONTAINER_NAME }}" >> .env
          echo "PORT=${{ secrets.PORT }}" >> .env

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: pytest -vv -s tests/
