name: TDD Book CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        env:
          CONTAINER_NAME: ${{ env.CONTAINER_NAME }}
          PORT: ${{ env.PORT }}
        with:
          runCmd: pytest -vv -s tests/
